<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://img.freepik.com/psd-premium/nuevo-icono-twitter-aislado-fondo-blanco-logotipo-letra-x-logotipo-boton-cuadrado-aplicacion-redes-sociales_989822-4769.jpg" rel="shorcut icon" type="image/x-icon">
</head>
<body>
<nav>
    <a href=""><img src="https://img.freepik.com/vector-premium/x-nueva-red-social-icono-aplicacion-negra-twitter-renombrado-como-x-cambio-logotipo-twitter_277909-568.jpg" width="100px"></a>
    <a href="/index">Inicio</a>
    <a href="/registro">Registrarse</a>
    <a href="/inicioSesion">Iniciar Sesion</a>
   <a href="index">Cerrar Sesión</a>

    <hr>
</nav>
</body>
</html>