<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Crear Post</title>
</head>
<body>
<div th:insert="fragments/nav"></div>
<form action="/crearPostReal" method="post">
    <input type="text" name="nombreUsuario" placeholder="nombre" >
    <input type="text" name="descripcion" placeholder="Descripcion">
    <input type="date" name="fechaPublicacion">
    <input type="number" name="id" placeholder="id">
    <button type="submit">Enviar</button>
</form>
</body>
</html>