<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link href="https://img.freepik.com/psd-premium/nuevo-icono-twitter-aislado-fondo-blanco-logotipo-letra-x-logotipo-boton-cuadrado-aplicacion-redes-sociales_989822-4769.jpg"
          rel="shorcut icon" type="image/x-icon">
</head>
<body>
<div th:insert="fragments/nav"></div>

<!-- <p th:text="'Bienvenido '+${usuario.nombreUsuario}"></p> -->

<p>Aqui se mostraran las publicaciones de los usuarios</p>

<form action="/filtrarPost" method="get">
    <input type="text" name="descripcion" placeholder="Buscar">
    <button>Buscar</button>
</form>
<a href="/crearPost">
    <button>Crear Post</button>
</a>
<a href="/ordenarFechas">Ordenar Por fechas</a>
<a href="/ordenarFechasDescendente">Ordenar Por fechas desc</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Fecha Publicacion</th>
        <th>Usuario</th>
        <th>Likes</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${post}">

        <td th:text="${post.id}"></td>
        <td th:text="${post.descripcion}"></td>
        <td th:text="${post.fechaPublicacion}"></td>
        <td th:text="${post.idUser}"></td>

            <form action="/gustar" method="post">
                <td th:text="${post.likes}">
                <!--METERLE UN TH-IF CON CADA IMAGEN DEPENDIENDO SI LE DA LIKE O NO -->
             <!--   <td th:if=""><img src="https://st4.depositphotos.com/25868248/28326/v/950/depositphotos_283261126-stock-illustration-vector-icon-thumbs-instagram-heart.jpg" alt="imagen"></td>-->
                <td>    <input type="hidden" name="idPost" th:value="${post.id}"> </td>
               <td> <button type="submit">Me gusta!</button>
               </td>
            </form>
        <td>
            <form action="/repostear" method="post">
                <input type="hidden" name="descripcion" th:value="${post.descripcion}">
                <input type="hidden" name="fechaPublicacion" th:value="${post.fechaPublicacion}">
                <button>Repostear</button>
            </form>
        </td>
        </form>
    </tr>
    </tbody>
</table>
</body>
</html>