<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>
<div th:insert="fragments/nav"></div>

<!-- <p th:text="'Bienvenido '+${usuario.nombreUsuario}"></p> -->

<p>Aqui se mostraran las publicaciones de los usuarios</p>

<form action="/filtrarPost" method="get">
    <input type="text" name="descripcion" placeholder="Buscar">
    <button>Buscar</button>
</form>
<a href="/crearPost"><button>Crear Post</button></a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Descripción</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${post}">
        <td th:text="${post.id}"></td>
        <td th:text="${post.descripcion}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>